.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow hidden;
  background-color: 8CD5FF;
}

li{
  display block;
  color white;
  text-align: center;
  padding 14px 16px;
  }
  
li:hover{
  background-color: grey;
  }
  
